$primary: #744144;
$secondary: #45BF63;
$disabled: #A5A5A5;
$darkgray: #585858;
$error: #f54e4e;

%basic-shadow {
    -webkit-box-shadow: 0px 10px 26px -4px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 10px 26px -4px rgba(0,0,0,0.6);
    box-shadow: 0px 10px 26px -4px rgba(0,0,0,0.6);
}

.primary {
    color: $primary;
}
.bg-primary {
    background-color: $primary;
}
.border-primary {
    border-color: $primary !important;
}

.secondary {
    color: $secondary;
}
.bg-secondary {
    background-color: $secondary;
}
.border-secondary {
    border-color: $secondary !important;
}

.disabled {
    color: $disabled;
}
.bg-disabled {
    background-color: $disabled;
}
.border-disabled {
    border-color: $disabled !important;
}

.darkgray {
    color: $darkgray;
}
.bg-darkgray {
    background-color: $darkgray;
}
.border-darkgray {
    border-color: $darkgray !important;
}

.error {
    color: $error;
}
.bg-error {
    background-color: $error;
}
.border-error {
    border-color: $error !important;
}